p, .description, h1 {
    text-align: center;
    margin: auto;
    padding: 10px;
}
.description{
    border: dotted rgb(129, 96, 81) 6px;
    width: 200px;
    font-family: monospace, sans-serif;
    background-color: wheat;
}

h2{
    text-align: center;
    border: dotted 2px goldenrod;
}

img {
    display: block;
    margin: 10px auto;
    height: auto;
    width: 200px;
    border: white solid 5px;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: bisque;
    border-style: solid;
    border-color: white;
}

h3{
    font-style: italic;
    text-align: center;
}

ul, ol{
    text-indent: 5%;
    word-spacing: 2px;
    background-color: wheat;
    background-size: contain;
    margin: auto;
    padding: 20px;
    border: solid goldenrod 4px;
}

ul{
    width: 400px;
    line-height: 20px;
}
ol{
    text-indent: 3%;
    line-height: 30px;
}


p {
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: large;
    background-color: bisque;
    border: double 5px rgb(129, 96, 81);
}

body{

    background-color: blanchedalmond;
}
body.mac-cheese {
    background-color: hsl(41, 100%, 68%);
}
body.snickerdoodle {
    background-color: hsl(19, 46%, 65%);
}
body.scrambled-egg {
    background-color: hsl(54, 82%, 67%);
}

